---
import Layout from '../../layouts/Layout.astro';
import ImageGallery from '../../components/ImageGallery.astro';
---

<Layout 
  title="AI Art Gallery"
  description="Discover a collection of AI-generated art pieces created using various AI art generation techniques."
>
  <main class="container mx-auto px-4 py-8">
    <article class="prose prose-lg lg:prose-xl dark:prose-invert mx-auto">
      <ImageGallery folder="AI Art" />
    </article>
  </main>
</Layout>
